<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimeTrackerWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XTrackerWidget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeTrackerWidget.Properties.Settings>
            <setting name="XSSApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RedmineAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RedmineURL" serializeAs="String">
                <value />
            </setting>
            <setting name="XSSURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RedmineEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XSSEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="PaymoAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="PaymoLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="PaymoPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PaymoLastToken" serializeAs="String">
                <value />
            </setting>
            <setting name="PaymoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
        </TimeTrackerWidget.Properties.Settings>
        <XTrackerWidget.Properties.Settings>
            <setting name="XSSApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RedmineAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RedmineURL" serializeAs="String">
                <value>http://bugs.xtack.pl</value>
            </setting>
            <setting name="XSSURL" serializeAs="String">
                <value>http://xss.xtrack.pl</value>
            </setting>
            <setting name="RedmineEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XSSEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </XTrackerWidget.Properties.Settings>
    </userSettings>
</configuration>